/*********** Body ***********/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

/*********** Navbar ***********/
.navigationbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
}
.logoWrapper {
    display: flex;
}
.logo {
    font-weight: bold;
    padding-left: 4px;
    color: #ffffff;
    font-size: 25px;
}
.navigation {
    display: flex;
    list-style-type: none;
}
.link {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
/********** Trending Section **********/
.Trending-section{
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}
.btn-group {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    display: inline-block;
}

  /* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
}









/********** Slideshow container + Features **********/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Next button */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* When hovering button */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text 1/3 */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Dots below pictures */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Animation fade */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* For smaller screens, decreases text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*********** FOOTER _ SECTION **********/
footer {
    display: flex;
    height: auto;
    width: 100%;
    background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
    line-height: 1.3;
    font-family: monospace;
}
ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
    font-size: large;
}  
a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
@media (min-width: 500px) {
    ul {
    grid-auto-flow: column;
}
}
